acc1072.АвтоматизацияИнформированияДебиторов/src/WSReferences/Аид_WSСсылка2/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="https://cloud1.businesstech.store/"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="https://cloud1.businesstech.store/"
		name="АИД"
		targetNamespace="https://cloud1.businesstech.store/">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="https://cloud1.businesstech.store/"
				targetNamespace="https://cloud1.businesstech.store/"
				elementFormDefault="qualified">
			<xs:element name="method">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Запрос"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="methodResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OptionsWS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Запрос"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OptionsWSResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GET">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Запрос"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GETResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="methodRequestMessage">
		<part name="parameters"
				element="tns:method"/>
	</message>
	<message name="methodResponseMessage">
		<part name="parameters"
				element="tns:methodResponse"/>
	</message>
	<message name="OptionsWSRequestMessage">
		<part name="parameters"
				element="tns:OptionsWS"/>
	</message>
	<message name="OptionsWSResponseMessage">
		<part name="parameters"
				element="tns:OptionsWSResponse"/>
	</message>
	<message name="GETRequestMessage">
		<part name="parameters"
				element="tns:GET"/>
	</message>
	<message name="GETResponseMessage">
		<part name="parameters"
				element="tns:GETResponse"/>
	</message>
	<portType name="АИДPortType">
		<operation name="method">
			<input name="methodRequest"
					message="tns:methodRequestMessage"/>
			<output name="methodResponse"
					message="tns:methodResponseMessage"/>
		</operation>
		<operation name="OptionsWS">
			<input name="OptionsWSRequest"
					message="tns:OptionsWSRequestMessage"/>
			<output name="OptionsWSResponse"
					message="tns:OptionsWSResponseMessage"/>
		</operation>
		<operation name="GET">
			<input name="GETRequest"
					message="tns:GETRequestMessage"/>
			<output name="GETResponse"
					message="tns:GETResponseMessage"/>
		</operation>
	</portType>
	<binding name="АИДSoapBinding"
			type="tns:АИДPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="method">
			<soapbind:operation style="document"
					soapAction="https://cloud1.businesstech.store/#АИД:method"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="OptionsWS">
			<soapbind:operation style="document"
					soapAction="https://cloud1.businesstech.store/#АИД:OptionsWS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GET">
			<soapbind:operation style="document"
					soapAction="https://cloud1.businesstech.store/#АИД:GET"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="АИДSoap12Binding"
			type="tns:АИДPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="method">
			<soap12bind:operation style="document"
					soapAction="https://cloud1.businesstech.store/#АИД:method"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="OptionsWS">
			<soap12bind:operation style="document"
					soapAction="https://cloud1.businesstech.store/#АИД:OptionsWS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GET">
			<soap12bind:operation style="document"
					soapAction="https://cloud1.businesstech.store/#АИД:GET"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="АИД">
		<port name="АИДSoap"
				binding="tns:АИДSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="https://cloud1.businesstech.store/aid_database/ws/ws1.1cws"/>
		</port>
		<port name="АИДSoap12"
				binding="tns:АИДSoap12Binding">
			<soap12bind:address location="https://cloud1.businesstech.store/aid_database/ws/ws1.1cws"/>
		</port>
	</service>
</definitions>